@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/index.css">

	<div class="index_content">

		<div class="main_title">

			<h1 class="Jokejunction_title">Joke Junction</h1>
			<p>Сміх продовжує життя</p>
			<nav>
				<ul class="social-icons">
					<li>
					<a href="https://github.com/BlackBear75"><img class="img_github" src="/css/images/Github.png" alt="git"> </a>
					</li>
					<li><a href="#"><img class="img_pochta" src="/css/images/POCHTA.png" alt="pochta"></a></li>
				</ul>
			</nav>

		</div>


	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Отримуємо елемент .main_title
			var mainTitle = document.querySelector(".main_title");

			// Додаємо клас .show після короткої затримки (наприклад, 500 мілісекунд)
			setTimeout(function () {
				mainTitle.classList.add("show");
			}, 500);
		});
	</script>


