@{
    ViewBag.Title = "Error";
    Layout = "_Layout";
}



<h1 >Вибачте жарти ще не були добавленні іншими користувачами ,</br> але ви можете стати першим, тому прошу вас зареєструватись і добавити свої смішні історії або анекдоти</h1>